<a *ngFor="let item of products; let i=index;" target="_blank" class='program-item' style="margin-left: 50px;margin-top:100px ">
  <div class='shadow'>
    <div class='program-list-head'>
      <div id='repo-bg-{{item.img}}'></div>
    </div>
    <div class='program-list-cont'>      <!--  改变标签长短-->
      <div class='program-list-tit'>{{item.name}}</div>
      <div class='program-list-t'>
        <p>口感：{{item.taste}}</p>
        <p>酸度：{{item.sour}}</p>
        <p>甜度：{{item.sweetness}}</p>
        <p>类型：{{item.type}}</p>
        <p>度数：{{item.degree}}</p>
        <p>香型：{{item.flavor}}</p>
        <p>生产地点：{{item.proplace}}</p>
        <p>生产批次：{{item.probatch}}</p>
        <p>抽检时间：{{item.time}}</p>
        <p>抽检数量：{{item.num}}</p>
        <p>销售地点：{{item.saleplace}}</p>
        <p>质检员：{{item.people}}</p>
        <p>抽检结果：{{item.result}}</p>
        <p>不合格原因：{{item.reason}}</p>
      </div>

    </div>
  </div>
  <div class='c-line'></div>
  <div class='d-line'></div>
</a>
