<div>

  <div id="main">

    <div class="page-settings" style="margin-top: 5px">
      <div class="top">
        <div class="w960 mauto top_title">
          <p>文章编辑</p>
        </div>
      </div>
      <div class="setting pb10">
        <div class="contentBox">
          <div class="formBox">

            <div id="setting-profile" class="setting-wrap setting-profile">

              <app-ckeditor></app-ckeditor>


            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

