<div>
  <div id="main">

    <div class="page-settings" style="margin-top: 5px">
      <div class="setting pb10">
        <div class="contentBox">
          <div class="formBox">

            <div id="setting-profile" class="setting-wrap setting-profile">
              <div class="form-horizontal">
                <div class="form-group">
                  <h4 class="col-lg-2 col-md-2 control-label" style="margin-left:-30px;margin-top: -8px">文章标题</h4>
                  <div class="col-lg-6 col-md-6">
                    <p class="text-primary">{{arts.title}}</p>
                </div>
                </div>
                <div class="form-group">
                  <h4 class="col-lg-2 col-md-2 control-label" style="margin-left:-30px;margin-top: -8px">文章作者</h4>
                  <div class="col-lg-6 col-md-6">
                    <p class="text-primary">{{arts.author}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <h4 class="col-lg-2 col-md-2 control-label" style="margin-left:-30px;margin-top: -8px">关键字</h4>
                  <div class="col-lg-6 col-md-6">
                    <p class="text-primary">{{arts.keywords}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <h4 class="col-lg-2 col-md-2 control-label" style="margin-left:-30px;margin-top: -8px">文章描述</h4>
                  <div class="col-lg-9 col-md-9">
                    <p class="text-primary">{{arts.desc}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <h4 class="col-lg-2 col-md-2 control-label" style="margin-left:-30px;margin-top: -8px">所属栏目</h4>
                  <div class="col-lg-2 col-md-2">
                    <p class="text-primary">{{arts.cateid}}</p>
                  </div>
                </div>
                <div class="form-group" >
                  <h4 class="col-lg-2 col-md-2 control-label" style="margin-left:-30px;margin-top: -8px" >是否推荐</h4>
                  <div class="col-lg-2 col-md-2">
                    <p class="text-primary">{{recommend}}</p>
                  </div>
                </div>
                <hr>
                  <div class="form-group">
                    <h4 class="col-lg-2 col-md-2 control-label" style="margin-left:-30px;margin-top: -3px">文章内容</h4>
                    <div class="col-lg-9 col-md-9"> <br/><br/>
                      {{arts.content}}
                    </div>
                  </div>



                </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

<style type="text/css">
  #toggle-button {
    display: none;
  }

  .button-label {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #ccc;
    box-shadow: #ccc 0px 0px 0px 2px;
    border-radius: 30px;
    overflow: hidden;
  }

  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
  }

  .button-label .text {
    line-height: 30px;
    font-size: 11px;
    text-shadow: 0 0 2px #ddd;
  }

  .on {
    color: #fff;
    display: none;
    text-indent: 10px;
  }

  .off {
    color: #fff;
    display: inline-block;
    text-indent: 34px;
  }

  .button-label .circle {
    left: 0;
    transition: all 0.3s;
  }

  #toggle-button:checked + label.button-label .circle {
    left: 50px;
  }

  #toggle-button:checked + label.button-label .on {
    display: inline-block;
  }

  #toggle-button:checked + label.button-label .off {
    display: none;
  }

  #toggle-button:checked + label.button-label {
    background-color: #3dcb9a;
  }

</style>
