<!--<div class="row carousel-container">
  <app-carousel></app-carousel>
</div> -->
<div>
  <ul class="listbox">
    <a>
    <li *ngFor="let item of cates" (click)=onclick() [ngStyle]="{cour:isclick}">{{item.name}} </li>
    </a>
  </ul>
</div>

<div class="overall" style="margin-top: 30px">
  <div class="right">
    <app-right></app-right>
  </div>
    <div class="left" *ngFor="let item of articles">
    <div class="xnews">
      <div class="pic">
        <a href="">
          <img src="../assets/images/{{item.pic}} ">
        </a>
      </div>
      <div class="dec">
        <h3>
          <a href="">{{item.title}}</a>
        </h3>
        <p>{{item.author}}</p>
        <p class="time">发布时间：{{item.time}}</p>
        <p>{{item.desc}}</p>
       <div style="font-size: medium">{{item.content}}</div>
        <p>标签：{{item.keywords}}</p>
      </div>
    </div>
  </div>


</div>


