<html>
<head>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form action="" method="post" enctype="multipart/form-data">
				用户名：<input type="text" name="username" id = "username" value="">
				密码：<input type="password" name="password" id = "password" value="">
				确认密码：<input type="password" name="re_password" id="re_password" value="">
				电子邮件：<input type="email" name = "email" id="email" value="">
				性别：<input type="radio" name="gender" value="male" checked >Male <input type="radio" name="gender" value="female">Female
				<br/>
				出生地：
				<select name="native_place">
				  <option value ="beijing">北京</option>
				  <option value ="shanghai">上海</option>
				  <option value="guangzhou">广州</option>
				  <option value="tianjin">天津</option>
				</select>
				出生日期：<input id="birth" type="date" name = "birth" value="2017-12-05"/>
				<input type="file" name="head_pic" id="head_pic" accept="image/gif, image/jpeg, image/png" />
				<br/>
				<input type="submit" value="submit"/>
				<input type="reset" value="reset"/>
			</form>
		</div>
	</div>
</div>


</body>
</html>