<div class="row"  >
  <img src="../assets/images/AboutUs.jpg" class="img-responsive center-block" style=" margin-top:80px;">
</div>
<div class="contact-wrap">
  <div>
    <img src="../assets/images/vision.png">
    <span>网站介绍</span>
  </div>
  <div class="contact-list">
    <p>该网站/。。。。</p>
  </div>
</div>

<div class="contact-wrap">
  <div>
    <img src="../assets/images/friends.png">
    <span>团队介绍</span>
  </div>
  <div class="contact-list">
    <p class="inline-p">团队成员：</p>
  </div>
</div>

<div class="contact-wrap">
  <div>
    <img src="../assets/images/contact.png">
    <span>联系我们</span>
  </div>
  <div class="contact-list">
    <p class="inline-p">邮箱: JiuJiuWeb@163.com(商务)</p>
    <p>400-888-8888(客服)</p>
    <p>地址: 天津大学北洋园校区软件学院</p>
  </div>
</div>
