<div >
<nav class="sidebar " >
  <ul class="list-group" >
    <a [routerLink]="['./']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ '主页'}}
    </a>
    <a [routerLink]="['./typeTree']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ '分类图'}}
    </a>
    <a [routerLink]="['./adminmanagement']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ '管理员'}}
    </a>
    <a [routerLink]="['./usermanagement']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ '用户'}}
    </a>
    <a [routerLink]="['./categorymanagement']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ '栏目'}}
    </a>
    <a [routerLink]="['./articlemanagement']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ '文章'}}
    </a>

  </ul>
</nav>

</div>
