<div class="row">
  <img src="../assets/banner.jpg">
</div>
<div class="contact-wrap">
  <div>
    <img src="../assets/vision.png">
    <span>网站介绍</span>
  </div>
  <div class="contact-list">
    <p>该网站/。。。。</p>
  </div>
</div>

<div class="contact-wrap">
  <div>
    <img src="../assets/friends.png">
    <span>团队介绍</span>
  </div>
  <div class="contact-list">
    <p class="inline-p">团队成员：</p>
  </div>
</div>

<div class="contact-wrap">
  <div>
    <img src="../assets/contact.png">
    <span>联系我们</span>
  </div>
  <div class="contact-list">
    <p class="inline-p">邮箱:  bd@pai9.com.cn(商务)</p>
    <span>400-770-7880(客服)</span>
    <p>地址: 天津大学软件学院</p>
  </div>
</div>
