<div class="login-page" >
  <div class="row justify-content-md-center">
    <div class="col-md-4 col-md-offset-4 " style=" margin-top:50px;">
      <img src="assets/images/logo.jpeg" width="150px" class="user-avatar" />
      <h1>啾啾网</h1>
      <form #formRef="ngForm" role="form" (ngSubmit)="onSubmit(formRef.value)">
        <div class="form-content">

          <div class="form-group">
            <input type="text" ngModel name="username" class="form-control input-underline input-lg" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" ngModel name="password" class="form-control input-underline input-lg"  placeholder="Password">
          </div>
        </div>
        <div *ngIf="auth?.hasError">{{auth.errMsg}}</div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" ngModel name="checkadmin" value="1">管理员
            </label>
          </div>
        </div>
        <button class="btn rounded-btn" type="submit" > Log in </button>

        <a class="btn rounded-btn" [routerLink]="['/signup']" >Register</a>
      </form>
    </div>
  </div>
</div>

