<div>
  <link rel="stylesheet" href="../assets/base.css" type="text/css" />
  <link rel="stylesheet" href="../assets/common-less(1).css" type="text/css" />
  <link rel="stylesheet" href="../assets/moco.min.css" type="text/css" />
  <link rel="stylesheet" href="../assets/common-less.css" type="text/css" />
  <link rel="stylesheet" href="../assets/profile-less.css" type="text/css" />
  <div id="main">

    <div class="page-settings" style="margin-top: 50px">
      <div class="top">
        <div class="w960 mauto top_title">
          <p>个人设置</p>
        </div>
      </div>
      <div class="setting pb10">
        <div class="nav-tabs pa">
          <h1 class="baseinfo fl active">基本信息</h1>
          <div class="cb"></div>
        </div>
        <div class="contentBox">
        <div class="formBox">
        <div id="setting-profile" class="setting-wrap setting-profile">
        <form id="profile" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
          <div class="wlfg-wrap clearfix ">
                <label class="label-name">头像：</label>
                <div style="margin-top: 50px;margin-bottom: 20px">
                  <image-upload [buttonCaption]="'选择图片'"
                                [dropBoxMessage]="'拖动图片到这里'"
                                [clearButtonCaption]="'删除'"
                                (onFileUploadFinish)="imageUploaded($event)"
                                (onRemove)="imageRemoved($event)"></image-upload>
                </div>
              </div>
          <div class="wlfg-wrap clearfix">
            <label class="label-name" for="user_id" >ID：</label>
            <div class="rlf-group">
              <input readonly="readonly"  [(ngModel)]="user.user_id" name="user_id" id="user_id" class="moco-form-control"/>
              <p class="rlf-tip-wrap errorHint color-red" ></p>
            </div>
          </div>

                <div class="wlfg-wrap">
                  <label class="label-name" for="username" >昵称：</label>
                  <div class="rlf-group">
                    <input  [(ngModel)]="user.username" name="username" id="username" class="moco-form-control"/>
                    <p class="rlf-tip-wrap errorHint color-red" ></p>
                  </div>
                </div>
                <div class="wlfg-wrap">
                  <label class="label-name" for="email" >电子邮件：</label>
                  <div class="rlf-group">
                    <input type="text" name="email" id="email" class="moco-form-control" [(ngModel)]="this.user.email" placeholder="email">
                    <p class="rlf-tip-wrap errorHint color-red" ></p>
                  </div>
                </div>
                <div class="wlfg-wrap clearfix">
                  <label class="label-name" for="birth" >出生日期：</label>
                  <div class="rlf-group">
                    <input type="date" name="birth" id="birth"  [(ngModel)]="user.birth" class="moco-form-control">
                    <p class="rlf-tip-wrap errorHint color-red" ></p>
                  </div>
                </div>
                <div class="wlfg-wrap clearfix">
                  <label class="label-name" for="native_place">地区：</label>
                  <div class="rlf-group profile-address">
                    <select id="native_place" [(ngModel)]="user.native_place" name="native_place" id="native_place" class='moco-form-control' hidefocus="true">
                      <option value="0">选择省份</option>
                      <option value="beijing">北京</option>
                      <option value="tianjin">天津</option>
                      <option value="hebei">河北</option>
                      <option value="shanxi">山西</option>
                      <option value="neimenggu">内蒙古</option>
                      <option value="iaoning">辽宁</option>
                      <option value="jilin">吉林</option>
                      <option value="heilongjiang">黑龙江</option>
                      <option value="shanghai">上海</option>
                      <option value="jiangsu">江苏</option>
                      <option value="zhejiang">浙江</option>
                      <option value="anhui">安徽</option>
                      <option value="fujian">福建</option>
                      <option value="jiangxi">江西</option>
                      <option value="shandong">山东</option>
                      <option value="henan">河南</option>
                      <option value="hubei">湖北</option>
                      <option value="hunan">湖南</option>
                      <option value="guangdong">广东</option>
                      <option value="hainan">海南</option>
                      <option value="guangxi">广西</option>
                      <option value="gansu">甘肃</option>
                      <option value="shanxi">陕西</option>
                      <option value="xinjiang">新疆</option>
                      <option value="qinghai">青海</option>
                      <option value="ningxia">宁夏</option>
                      <option value="chongqing">重庆</option>
                      <option value="sichuang">四川</option>
                      <option value="guizhou">贵州</option>
                      <option value="yunnan">云南</option>
                      <option value="xizang">西藏</option>
                      <option value="taiwan">台湾</option>
                      <option value="aomen">澳门</option>
                      <option value="xianggang">香港</option>
                      <option value="qita">其他</option>
                    </select>
                    <div class="cb"></div>
                    <p class="rlf-tip-wrap errorHint color-red"></p>
                  </div>
                </div>
                <div class="wlfg-wrap clearfix">
                  <label class="label-name h16 lh16">性别：</label>
                  <div class="rlf-group rlf-radio-group">
                    <label class="lh16"><input [(ngModel)]="user.gender" type="radio" hidefocus="true" value="male" name="male">男</label>
                    <label class="lh16"><input [(ngModel)]="user.gender" type="radio" hidefocus="true" value="female" name="female">女</label>
                    <p class="rlf-tip-wrap errorHint color-red"></p>
                  </div>
                </div>
                <div class="wlfg-wrap clearfix">
                  <label class="label-name" for="profile-submit"></label>
                  <div class="rlf-group">
                    <button type="submit" id="profile-submit"  hidefocus="true"  class="rlf-btn-green btn-block profile-btn">保存</button>
                  </div>
                </div>
         </form>

        </div>
        </div>
        </div>
        </div>
        </div>
  </div>

</div>

